html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

// margins
@margin: 15px;


// font sizes
@text-xs: 10px;
@text-question-header: 12px;
@text-sm: 15px;
@text-md: 20px;
@text-lg: 28px;

// mixins
@media-breakpoint-small: 450px;
@media-breakpoint-small-plus-one: 451px;
@media-breakpoint: 768px;
@media-breakpoint-plus-one: 769px;
@media-breakpoint-large: 992px;
