@import "mixins";

// contains both the explanation and the displayElement
.wizard-dialog {
  .cancel {
    float: left;
  }
  >div {
    display: flex;
    .wizard-content {
      @media (max-width: @media-breakpoint-small) {
        min-width: 300px;
      }
      @media (max-width: @media-breakpoint) and (min-width: @media-breakpoint-small-plus-one) {
          min-width: @media-breakpoint-small;
      }

      @media (min-width: @media-breakpoint-plus-one) {
        min-width: @media-breakpoint;
      }

      max-width: none !important;
      width: auto !important;
      display: inline-block;
      .wizard-inner {
        outline: none;
      }
    }
  }
}
