@import "mixins";

.styled-dialog {
  .styled-dialog-title {
    padding: 15px !important;
    margin: 0 !important;
    font-size: @text-md !important;
    &.styled-dialog-title-with-close-icon {
      .title-text {

      }
      .title-icon {
        position: absolute;
        right: @margin;
        top: @margin;
        cursor: pointer;
        display: inline-block;
      }
    }
  }
  .styled-dialog-body {
    padding: @margin !important;
  }
  .styled-dialog-actions-container {
    border-top: none !important;
    >div {
      margin-left: @margin;
    }
  }
}
